<div class="flex flex-col gap-1 w-full max-w-3xl mx-auto anime-fade-in" [class.items-end]="message().role === 'user'"
    [class.items-start]="message().role === 'assistant'">

    <!-- Content -->
    <div [class]="message().role === 'user'
          ? 'bg-[var(--color-panel)] border border-[var(--color-accent)] text-[var(--color-primary)] px-4 py-2 rounded-2xl rounded-tr-sm'
          : 'text-[var(--color-primary)] w-full message-content'">

        @if (message().role === 'user') {
        <p>{{ message().content }}</p>
        } @else {
        <div [innerHTML]="message().content"></div>
        }

    </div>

    <!-- Timestamp -->
    <span class="text-[10px] text-[var(--color-secondary)] opacity-50 px-1">
        {{ message().created_at | date:'shortTime' }}
    </span>
</div>